# Dependencies
node_modules/

# Production build
dist/

# Env files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Docker stuff
docker-data/
*.pid

# VSCode settings
.vscode/
